# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Virtual environments
venv/
env/

# Python package files
*.egg-info/
dist/
build/

# Others
*.bak
*.swp
*.swo
